* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

input, label {
  display: block;
}

body {
  font-family: '맑은 고딕', sans-serif;
  background-color: lightgray;
}

.container {
  width: 650px;
  margin: 0 auto;
  background-color: #fff;
}

/* header */
header {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #24292e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header h1 {
  display: inline-block;
  font-weight: normal;
  padding-left: 45px;
}
header .side-menu {
  width: 120px;
  display: flex;
  justify-content: space-around;
}
header .side-menu button {
  color: #ecf0f1;
  background-color: #24292e;
  border: none;
  outline: none;
}

/* main */
#main {
  width: 100%;
  padding: 13px;
}
#main .container {
  display: flex;
  justify-content: center;
  height: 400px;
  border-radius: 5px;
}
#main .container #book-form {
  position: relative;
}
#main .container #book-form .form-group {
  margin: 35px 0;
}
#main .container #book-form .form-group > input {
  width: 500px;
  height: 35px;
  border-radius: 3px;
  padding: 13px;
  margin-top: 5px;
  border: 1.5px solid gray;
}
#main .container #book-form > .add {
  width: 100px;
  height: 30px;
  background-color: rgb(106, 206, 106);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 30px; right: 0;
}
label {
  font-weight: bold;
}

/* book list */
#book-list {
  margin-top: 10px;
}
#book-list .container {
  border-radius: 5px;
  padding: 20px;
}
table {
  padding: 10px;
}
.delete {
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
/* footer */
footer {
  height: 120px;
}